# ==========================
# Dependencies
# ==========================
**/node_modules/

# ==========================
# Environment Variables
# ==========================
**/.env

# ==========================
# Build folders
# ==========================
Frontend/dist/
build/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================
.vscode/